@tailwind base;
@tailwind components;
@tailwind utilities;

.myselfGradient {
    background: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.parcoursGradient {
    background: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.personalGradient {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

.teamGradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.skillsGradient {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contactGradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}